---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about/">About</a>
        <a href="/blog/">Blog</a>
        <h1>My Blog</h1>
        <p>Welcome to my blog! This is where I'll share updates about my journey learning Astro and building my website.</p>
        <p>Check back here often for new posts and insights as I continue to explore the world of web development with Astro!</p>
         
	</body>
</html>